:root {
  --primary: #f1f0eb;
  --signature-blue: #0a398e;
  --signature-green: #039a47;
}


body {
  background-color: var(--primary);
  font-family: "Rubik";
  margin: 0;
  overflow-x: clip;
  overflow-y: auto;
  padding: 0;
  width: 100vw;
}


#blocker {
  align-items: center;
  background-color: white;
  display: none;
  font-family: "Rubik";
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}


header {
  align-items: center;
  background-color: #187bcd;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
  padding: 0 0.75rem;
  position: sticky;
  top: 0;
  width: 100vw;

  > #banner {
    height: 67%;
  }

  > #navigationBar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: max-content;

    > .navigationBar-item {
      background-color: white;
      border-radius: 15px;
      font-size: 0.8em;
      padding: 0.25rem 0.5rem;
    }
  }
}


main {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  > section {
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    overflow: clip;
    width: 250px;

    &:first-child {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 1rem;
    }

    > .coverImage {
      aspect-ratio: 4 / 2 ;
    }

    > .content {
      display: flex;
      flex-direction: column;
      font-size: 0.8em;
      padding: 0.5rem 1rem;

      > .title {
        background-image: linear-gradient(135deg, #039A47, #00B9A9);
        background-clip: text;
        color: transparent;
        font-size: 1.3em;
        font-weight: bold;
      }
    }

    &#section-humanMadeIngenuity {
      > .content {
        gap: 0.5em;
        text-align: center;

        > #enumeration {
          align-self: center;
          display: flex;
          flex-direction: row;
          gap: 0.5em;

          > .enumeration-item {
            align-items: center;
            display: flex;
            flex-direction: column;
            
            > .enumeration-count {
              aspect-ratio: 1 / 1;
              border-radius: 50%;
              color: var(--signature-blue);
              font-size: 1.1em;
              font-weight: bold;
              padding: 0.25em;
              width: 1em;
            }

            > .enumeration-content {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
}


footer {
  align-items: center;
  background-color: #e0e8f3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.7rem 1rem;

  > img {
    width: 60%;
  }

  > #contacts {
    font-size: 0.75em;
    width: 85%;

    > .contacts-item {
      > .contacts-item-name {
        color: var(--signature-blue);
      }

      > .contacts-item-value {
        background-clip: text;
        background-image: linear-gradient(135deg, #039A47, #00B9A9);
        color: transparent;
      }
    }
  }

  > .list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 85%;
    
    > .title {
      color: var(--signature-blue);
      font-weight: bold;
    }
    
    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        color: var(--signature-green);
        font-size: 0.85em;
        margin-left: 1rem;
        
        > a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  > #copyright {
    font-size: 0.7em;
  }
}


@media screen and (min-width: 768px) {
  #blocker {
    display: flex;
  }
}