:root {
  --signature-blue: #0a398e;
  --signature-green: #039a47;
}


body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}


#blocker {
  align-items: center;
  background-color: white;
  display: none;
  font-family: "Rubik";
  height: 100vh;
  justify-content: center;
  width: 100vw;
}


#banner {
  width: 67%;
}


#form-signIn {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  > .form-signIn-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    
    > .form-signIn-input {
      border: 2px solid var(--signature-blue);
      border-radius: 28px;
      font-family: sans-serif;
      padding: 0.5em 0.75em;
      width: 100%;
      
      &::placeholder {
        font-family: sans-serif;
      }
  
      &:focus {
        outline: none;
      }
    }

    > .warning {
      color: red;
      font-family: Arial;
      font-size: 0.7em;
      font-weight: bold;
      padding-left: 1.2em;
      visibility: hidden;
    }
  }


  > #form-signIn-button {
    background-image: linear-gradient(135deg, #039a47, #00b9a9);
    border: none;
    border-radius: 28px;
    color: white;
    font-family: Arial;
    font-size: 1em;
    padding: 0.25em 0.75em;
    width: 45%;
  }

  > #form-forgotPassword {
    > #form-forgotPassword-container {
      color: #38b6ff;
      font-family: Arial;
      font-size: 0.8em;
    }
  }
}


@media screen and (min-width: 426px) {
  #blocker {
    display: flex;
  }
}


@media screen and (min-width: 600px) {
  body {
    flex-direction: row;
    width: 100vw;

    > #banner {
      width: 35%;
    }

    > #form-signIn {
      width: 50%;
    }
  }
}