:root {
  --gradient-0-blue: #00B9A9;
  --gradient-0-green: #039a47;
  --gradient-0: linear-gradient(135deg, var(--gradient-0-green), var(--gradient-0-blue));
  --signature-blue: #0a398e;
  --signature-green: #039a47;
  --subtext-0: #B4B4B4;
}


body {
  background-color: var(--primary);
  box-sizing: border-box;
  font-family: "Rubik";
  margin: 0;
  overflow-x: clip;
  overflow-y: auto;
  padding: 0;
  width: 100vw;
}


#blocker {
  align-items: center;
  background-color: white;
  display: none;
  font-family: "Rubik";
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  position: relative;
  width: 100vw;
  
  > img {
    width: 80%;
  }
}


main {
  align-items: center;
  display: flex;
  flex-direction: column;
  
  > section {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
    width: 80%;

    &.show {
      display: flex;
    }

    > .section-title {
      color: var(--gradient-0-green);
      font-size: 1.2em;
      font-weight: bold;
    }

    > .section-subtext {
      color: gray;
      font-size: 0.9em;
    }

    > .pagination-container {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      margin-top: 1rem;
      
      .paginationButton {
        border: none;
        border-radius: 7px;
        font-weight: bold;
        padding: 0.5rem 1rem;

        &.back {
          border: 2px solid var(--gradient-0-green);
          background-clip: text;
          background-image: var(--gradient-0);
          color: transparent;
        }
        
        &.next {
          background-image: var(--gradient-0);
          color: white;
        }
      }
    }
    
    &#changePassword-section {
      > #changePassword-form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0.5rem;
        
        > input {
          border: 2px solid var(--gradient-0-green);
          border-radius: 13px;
          padding: 0.25rem 0.5rem;
        }
      }
    }

    &#authentication-section {
      > #authentication-code-input {
        border: 2px solid var(--gradient-0-green);
        border-radius: 10px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
      }

      > #subtext-didNotReceiveCode {
        font-size: 0.8em;
        margin-top: 1em;
        text-align: center;

        > #authentication-resendCode {
          background-clip: text;
          background-image: var(--gradient-0);
          color: transparent;
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  #blocker {
    display: flex;
  }
}